/* Main CSS Here */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
:root {
--background-color1: #fafaff;
--background-color2: #ffffff;
--background-color3: #ededed;
--background-color4: #cad7fda4;
--primary-color: #4b49ac;
--secondary-color: #0c007d;
--Border-color: #3f0097;
--one-use-color: #3f0097;
--two-use-color: #5500cb;
}
body {
	background-color: var(--background-color4);
	max-width: 100%;
	overflow-x: hidden;
}

header {
	height: 80px;
	width: 100vw;
	padding: 0 30px;
	background-color: var(--background-color1);
	position: fixed;
	z-index: 100;
	box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

/* Header top left logo */
.logosec {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .logo {
	font-family: 'Roboto', sans-serif;
	max-width: 330px ;
	height: 70px;
	border-color: #4b49ac;
	padding: 5px;
	border-radius: 15%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  }
  
  .logo::before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: 2px solid #3f0097;
	margin-right: 2px;
	transform: translateY(-1px);
  }
  
  .logo:hover {
	background-color: #3f0097;
	color: #FFFFFF;
  }

/* Header Search Bar */
.header-title {
	height: 40px;
	font-size: 20px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	border-color: transparent;
	margin-left: -100px;
}


.search-container {
	height: 40px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	border-color: transparent;
	margin-left: -100px;
}

.search-bar {
	height: 40px;
	width: 275px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	position: relative; 
  }
  
  .search-bar:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .search-bar input{
	height: 30px;
	width: 225px;
	border-color: transparent;
	margin-left: 10px; 
}

.search-button {
	position: absolute; 
	right: 8px; 
	padding: 8px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.search-button i {
	color: #888;
	font-size: 20px;
}

@media screen and (max-width: 850px) {

	.search-container {
		margin-left: -50px;
	}

	.search-bar {
		width: 225px;
	  }
	
	.search-bar input{
		width: 175px;
	}
}


/* Github icon */
.github-icon {
	display: flex;
	margin-left: 2%;
  }
  
  .github-icon a {
	color: #000;
	text-decoration: none;
  }
  
  .github-icon a:hover {
	color: #888;
  }
  
  .github-icon i {
	font-size: 30px;
  }
  

/* Loading Spin effect */
.loading-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
  }
  
  .loading-spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  


/* Error Messages Style */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	cursor: pointer;
  }
  
  .popup {
	background-color: #fff;
	top: 0;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: relative;

  }
  .messagess {
	list-style: none;
	padding: 0;
	margin-bottom: 0px;
  }
  
  ul {
	margin-bottom: 0px;
  }
  
  .error-message {
	padding: 20px;
	font-size: 16px;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
	border-radius: 4px;
  }

  .close-button {
	position: absolute;
	top: -5px;
	right: 0px;
	background: none;
	border: none;
	font-size: 25px;
	cursor: pointer;
  }
  
  .popup.closed {
	opacity: 0;
	pointer-events: none;
	position: relative;
  }
  
  .close-button:hover {
	opacity: 1;
  }

  .close-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
  }
  
  .close-icon::before,
  .close-icon::after {
	content: "";
	position: absolute;
	background-color: #333;
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0;
	transform-origin: center;
	transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .close-icon::before {
	transform: translateY(-50%) rotate(45deg);
  }
  
  .close-icon::after {
	transform: translateY(-50%) rotate(-45deg);
  }
  
  .close-button:hover .close-icon::before,
  .close-button:hover .close-icon::after {
	background-color: #c40000;
  }
  
  .close-button:hover .close-icon::before {
	transform: translateY(-50%) rotate(225deg);
  }
  
  .close-button:hover .close-icon::after {
	transform: translateY(-50%) rotate(-225deg);
  }
  

/* Comment section disabled error message */
.report-error-container {
	min-height: 400px;
	max-width: 1200px;
	margin: 0px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 20px 20px 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.comment-section-error {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8d7da;
	color: #721c24;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px auto;  
  }

  .comment-section-error h4 {
	margin: 0;
  }

/* Main Section Styles */
.main-container {
	display: flex;
	width: 100vw;
	position: relative;
	flex-direction: column;
	top: 70px;
	z-index: 1;
}
.dpicn {
	height: 42px;
}

.main {
	top: 30px;
	height: calc(100vh - 70px);
	position: relative;
	width:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
background-image:
		linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
width: 5px;
}
.main::-webkit-scrollbar-track {
background-color: #9e9e9eb2;
}

/* Index Page SearchBar */
.searchBox {
    position: absolute;
	bottom: 65%;
	margin-bottom: 20px;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
	
}

.searchBox:hover > .searchInput {
    width: 520px;
    padding: 0 6px;
	transition-delay: 0.2s;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
  transition-delay: 0.2s;
}


.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background-color: #2f3640;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Index Instructions box*/
.instructions-container{
	position:relative;
	bottom: -40%;
	min-height: 300px;
	max-width: 900px;
	margin: 70px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 20px 20px 20px;
	box-sizing: border-box;
	display: flex; 
	justify-content: center; 
	align-items: center;

}

.instructions-container body {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2rem;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.instructions-container ol {
	padding: 0;
	margin: 0;
	max-width: 500px;
	position: relative;
}

.instructions-container ol::before {
	content: '';
	width: 0.3rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: peachpuff;
	z-index: -1;
}

.instructions-container li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: peachpuff;
}

.instructions-container li + li {
	margin-top: 1rem;
}

.instructions-container ::marker {
	font-weight: 600;
	color: tomato;
	font-size: 1.8rem;
}


/* Video metadata profile */
.meta-container {
	min-height: 300px;
	max-width: 1200px;
	display: flex;
	margin: 70px auto 0px auto;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 10px 10px 10px 10px;
}

.left-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

.left-div img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	border: 2px solid #ccc;
}

.right-div {
	width: 80%;
	margin-left: 2%;
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.right-div table {
	width: 100%;
	border-collapse: collapse;
}

.right-div table th,
.right-div table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	transition: max-height 0.3s ease-in-out;
	font-size: 16px;
}


.right-div table th{
	width: 20%;
}

.right-div table td{
	width: 100%;
}

.description {
	flex: 1;
	max-width: 500px;
	overflow-y: auto;
	white-space: normal;
	text-overflow: clip;
	max-height: 200px;
}

.expanded {
	white-space: normal;
	text-overflow: clip;
	max-height: 200px;
	overflow: auto;
}

.read-more {
	height: 35px;
	width: 90px;
	border-radius: 8px;
	background-color: #5500cb;
	color: white;
	font-size: 15px;
	border: none;
	cursor: pointer;
  }

  @media (max-width: 910px) {
	.meta-container {
	  flex-direction: column;
	}

	.left-div {
	  width: 100%;
	  margin-bottom: 20px;
	}
  
	.right-div {
	  width: 100%;
	  margin-left: 0;
	}
  }

  @media (max-width: 770px) {
 
	.description {
		max-width: 370px;
	  }
  }
  
  @media (max-width: 620px) {

	.description {
		max-width: 250px;
	  }

	.error-message {
		font-size: 12px;
	}
  }

  @media (max-width: 500px) {
    .right-div table th,
    .right-div table td {
      width: 100%;
	  font-size: 11px
    }

	.description {
		max-width: 200px;
	  }
  }

  @media (max-width: 415px) {
    .right-div table th,
    .right-div table td {
      width: 100%;
	  font-size: 9px
    }

	.description {
		max-width: 165px;
	  }
  }

/* Video metadata stats box */
.stat-container {
    min-height: 300px;
	max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box-container {
    min-height: 40vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px;
	flex-shrink: 0;
}

.chart-container {
	margin: 5px;
	max-width: 500px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 5px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .chart-container img {
	width: 50%;
	height: 50%;
	border-radius: 20px;
	object-fit: cover;
  }
  
  .chart-container p {
	width: 60%;
	height: 60%;
	border-radius: 10px;
	font-size: 14px;
	object-fit: cover;
	text-align: center;
  }

@media (max-width: 768px) {
    .stat-container {
        flex-direction: column;
    }

    .box-container {
        width: 90%;
		height: 80vh;
    }

	.box {
		max-height: 100px;
		width: 220px;
	}

	.box img {
		height: 20px;
	}

	.topic {
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 1px;
	}
}
.box {
    max-height: 130px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
}

.box:nth-child(1),
.box:nth-child(2) {
    background-color: var(--one-use-color);
}

.box:nth-child(3),
.box:nth-child(4) {
    background-color: var(--two-use-color);
}

.box:nth-child(3),
.box:nth-child(4) {
    margin-top: 15px;
}

.box img {
    height: 50px;
}

.box .text {
    color: white;
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 26px;
    letter-spacing: 3px;
}




/* Comments Section */
.report-container {
	min-height: 400px;
	max-width: 1200px;
	margin: 0px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 20px 20px 20px;
}
.report-header {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 10px 20px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
	font-size: 30px;
	font-weight: 600;
	color: #5500cb;
}


.view {
	height: 35px;
	width: 90px;
	border-radius: 8px;
	background-color: #5500cb;
	color: white;
	font-size: 15px;
	border: none;
	cursor: pointer;
}


/* Comments Table */
.table-container {
	overflow-x: auto;
  }
  
  .responsive-table {
	width: 100%;
	border-collapse: collapse;
	max-height: 380px; 
  	overflow-y: auto;
  } 

  
  .responsive-table th,
  .responsive-table td {
	padding: 8px;
	text-align: left;
  }
  
  .responsive-table th {
	background-color: #f2f2f2;
	flex:1;
  }

  .comment-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  td {
    padding-right: 15px;
	font-size: 12px;
   }


  @media (max-width: 600px) {
	.responsive-table th,
	.responsive-table td {
	  display: block;
	  width: 100%;
	}
  
	.responsive-table tbody tr {
	  margin-bottom: 10px;
	  border-bottom: 1px solid #ddd;
	}
  
	.responsive-table tbody td::before {
	  content: attr(data-label);
	  font-weight: bold;
	  display: block;
	  margin-bottom: 5px;
	}
  }  
  
  .table-container {
	max-width: 100%;
	overflow-x: auto;
  }
  
  .table-container table {
	border-collapse: collapse;
	width: 100%;
  }
  
  .table-container th,
  .table-container td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  .table-container th {
	background-color: #f2f2f2;
	font-weight: bold;
  }
  
  .table-container tbody tr:nth-child(even) {
	background-color: #f9f9f9;
  }
  
  .table-container tbody tr:hover {
	background-color: #e9e9e9;
  }
  
  .table-container td:not(:last-child) {
	border-right: 10px solid #ddd;
  }

  /* comment tooltip */
  .comment-cell {
	position: relative;
  }
  
  .comment-popup {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .comment-cell:hover .comment-popup {
	display: block;
  }
  


.report-body {
	max-width: 1160px;
	overflow-x: auto;
	padding: 20px;
}
.report-topic-heading,
.item1 {
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.t-op {
	font-size: 18px;
	letter-spacing: 0px;
}

.items {
	width: 1120px;
	margin-top: 15px;
}

.item1 {
	margin-top: 20px;
}
.t-op-nextlvl {
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: 500;
	padding-right: 10px;
}

.label-tag-pos {
	width: 100px;
	text-align: center;
	background-color: rgb(0, 177, 0);
	color: white;
	border-radius: 5px;
}

.label-tag-neg {
	width: 100px;
	text-align: center;
	background-color: rgb(231, 41, 41);
	color: white;
	border-radius: 5px;
}

.label-tag-neu {
	width: 100px;
	text-align: center;
	background-color: rgb(247, 196, 56);
	color: white;
	border-radius: 5px;
}

/* Export button */
.exportButton {
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.exportButton:hover {
	background-color: var(--secondary-color);
  }

/* Paginator Styles */
.paginator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .paginator button {
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .paginator button:hover {
	background-color: var(--secondary-color);
  }
  
  .paginator button:focus {
	outline: none;
  }
  
  .paginator .prev-btn {
	margin-right: 10px;
  }
  
  .paginator .next-btn {
	margin-left: 10px;
  }
  
  .paginator .page-numbers button {
	margin: 0 5px;
  }
  
  .paginator .page-numbers button.active {
	background-color: var(--one-use-color);
  }
  

/* comment-analysis container */
.comment-analysis-container {
	min-height: 600px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 70px auto 0;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 10px;
  }


.horizontal-bar-container {
    margin-top: -30px; 
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.section-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
}

.section-button.selected {
    background-color: var(--selected-color);
    color: white; 
}

.chart-table-container {
	min-height: 460px;
	display: flex;
	gap: 20px;
}

.chart-container{
	top:10px;
	position: relative;
	flex: 1;
	border: none;
	padding: 5px;
}

.chart-container-expanded {
    justify-content: center;
}

.table-container {
	position: relative;
	min-width: 370px;
	flex: 1;
	border: 1px solid #ccc;
	padding: 5px;
	
}

.scatter-container {
	min-height: 500px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 40px auto 0;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 5px;
  }


@media (max-width: 768px) {
	.chart-table-container {
		flex-direction: column;
		gap: 30px;
	}

	.horizontal-bar-container {
		margin-top: -10px; 
	}
}

.scatter-menu {
	display: grid;
	grid-template-columns: 1fr 0.3fr; /* Divide the container into two equal columns */
	grid-gap: 40px;
}

.dropdown-container {
	margin-top:10px;
}


/* Charts Help Tooltip */
.graph-help-cell {
	position: relative;
	font-size: 30px;
	width: 25px;
  }
  
  .help-popup {
	font-size: 14px;
	display: none;
	position: absolute;
	top: 100%;
	width:200px;
	z-index: 1;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .graph-help-cell:hover .help-popup {
	display: block;
  }
  
  

  
  


/* Responsive CSS */
/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    
    .search-container, .search-bar input {
        flex: 0.5;
    }

    .logo {
        font-size: 25px;
    }


    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }
    }
    
    @media screen and (max-width: 850px) {

    .logo {
        font-size: 25px;
    }
    
    
    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }
    
    .searchbar {
        display: none;
    }
    .main {
        padding: 40px 30px 30px 30px;
    }
    .searchbar2 {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
        justify-content: center;
    }
    .searchbar2 input {
        width: 250px;
        height: 42px;
        border-radius: 50px 0 0 50px;
        background-color: var(--background-color3);
        padding: 0 20px;
        font-size: 15px;
        border: 2px solid var(--secondary-color);
    }

	.searchBox:hover > .searchInput {
		width: 150px;
		padding: 0 6px;
	}
}
    
    @media screen and (max-width: 490px) {
    .message {
        display: none;
    }
    .logosec {
        width: 100%;
        justify-content: space-between;
    }
    .logo {
        font-size: 20px;
    }
    .menuicn {
        height: 25px;
    }
    .nav-img {
        height: 25px;
    }
    .nav-option {
        gap: 25px;
    }
    .nav-option h3 {
        font-size: 12px;
    }
    .nav-upper-options {
        gap: 15px;
    }
    .recent-Articles {
        font-size: 20px;
    }
	
    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
    }
    
    @media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }
    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }
    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }
    .searchbtn img {
        height: 20px;
    }
    }
    
    @media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }
    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }
    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }
    .t-op {
        font-size: 12px;
    }
    .t-op-nextlvl {
        font-size: 10px;
    }
    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }
    .report-body {
        padding: 10px;
    }
    .label-tag {
        width: 70px;
    }
    .searchbtn {
        width: 40px;
    }
    .searchbar2 input {
        width: 180px;
    }
    }
    