{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo/favicon.png' %}" type="image/x-icon">

</head>


<body>
	<!-- for header part -->
	<header>
		<div class="logosec">
			<a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo/logo.png' %}"  alt="Logo"></a>
		</div>
        {% block header-search %}

        {% endblock header-search %}

        <div class="github-icon">
            <a href="https://github.com/StamTheo28/youtube-dashboard">
              <i class="fa fa-github"></i>
            </a>
        </div>

	</header>



    <div class="main">
        {% if messages %}
        <div id="error-popup" class="overlay">
            <div class="popup">
                <ul class="messages">
                {% for message in messages %}
                    <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="error-message">
                        {{ message }}
                    </div>
                    </ul>
                {% endfor %}
                </ul>
                <button class="close-button" id="close">
                <span class="close-icon"></span>
                </button>
            </div>
        </div>
        {% endif %}

        <div id="loading-overlay" class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>

        {% block searchBar %}

        {% endblock searchBar %}

        {% block dashboard %}

        {% endblock dashboard %}


    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>