{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Comment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
	<!-- for header part -->
	<header>
		<div class="logosec">
			<div><a  class="logo" href="{% url 'index' %}">YouDash</a></div>
		</div>
        {% block header-search %}

        {% endblock header-search %}

        <div class="github-icon">
            <a href="https://github.com/StamTheo28/youtube-dashboard">
              <i class="fa fa-github"></i>
            </a>
        </div>

	</header>

    <div class="main">
        {% if messages %}
        <div id="error-popup" class="overlay">
            <div class="popup">
                <ul class="messages">
                {% for message in messages %}
                    <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="error-message">
                        {{ message }}
                    </div>
                    </ul>
                {% endfor %}
                </ul>
                <button class="close-button" id="close">
                <span class="close-icon"></span>
                </button>
            </div>
        </div>
        {% endif %}

        {% block loading %}

        {% endblock loading %}

        {% block searchBar %}

        {% endblock searchBar %}

        {% block dashboard %}

        {% endblock dashboard %}


    </div>
</body>

</html>