{% extends "html/base.html" %}

{% load static %}

{% block header-search %}

    <div class="search-container">
        <form action="{% url 'index' %}" method="post" class="search-bar" autocomplete="off">
            {% csrf_token %}
            <input autocomplete="false" type="text" name="video_link" placeholder="Youtube URL" required>
            <button class="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>

{% endblock header-search %}

{% block dashboard %}


<div class="meta-container">
    <div class="left-div">
            <img class="profile-picture" src="{{ meta.thumbnail }}" alt="Thumbnail">
    </div>
    <div class="right-div">
        <table>
            <tr>
                <th>Video Title:</th>
                <td>{{ meta.title }}</td>
            </tr>
            <tr>
                <th>Video ID:</th>
                <td>{{ meta.video_id }}</td>
            </tr>
            <tr>
                <th>Channel Name:</th>
                <td>{{ meta.channelTitle }}</td>
            </tr>
            <tr>
                <th>Publish Date:</th>
                <td>{{ meta.publishedAt }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>
                <div class="description">
                    {{ meta.description }}
                </div>
                {% if meta.description|length >= 10 %}
                    <span class="read-more">Read More</span>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="stat-container">
    <div class="box-container">
        <div class="box box1">
            <div class="text">
                <h2 class="topic-heading">{{ meta.viewCount }}</h2>
                <h2 class="topic">Views</h2>
            </div>
            <img src= "{% static 'img/icons/views.png' %}" alt="views">
        </div>

        <div class="box box2">
            <div class="text">
                <h2 class="topic-heading">{{ meta.commentCount }}</h2>
                <h2 class="topic">Number of Comments</h2>
            </div>

            <img src= "{% static 'img/icons/comments.png' %}" alt="comments">
        </div>

        <div class="box box3">
            <div class="text">
                <h2 class="topic-heading">{{ meta.likeCount }}</h2>
                <h2 class="topic">Likes</h2>
            </div>
            
            <img src= "{% static 'img/icons/like.png' %}" alt="likes">
        </div>

        <div class="box box4">
            <div class="text">
                <h2 class="topic-heading">{{  meta.favoriteCount }}</h2>
                <h2 class="topic">Favorite Count</h2>
            </div>

            
            <img src="{% static 'img/icons/published.png' %}" alt="published">
        </div>
    </div> 
        <div class="chart-container">
            <canvas id="pieChart"></canvas>
        </div>

</div>
<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">Youtube Comments</h1>

    </div>

    <div class="table-container">
        <table class="responsive-table">
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page_obj  %}
                    <tr>
                        <td>{{ row.comment_id }}</td>
                        <td>{{ row.like_count }}</td>
                        <td>{{ row.reply_count }}</td>
                        <td>
                            {% if row.type == "positive" %}
                                <span class="label-tag-pos">{{ row.type }}</span>
                            {% elif row.type == "negative" %}
                                <span class="label-tag-neg">{{ row.type }}</span>
                            {% else %}
                                <span class="label-tag-neu">{{ row.type }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div id="description2" class="description">
                                {{ row.comment }} 
                            </div>
                            <span class="read-more" >Read More</span>
                        
                        </td>
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="view" href="?page=1"> First</a>
                <a class="view" href="?page={{ page_obj.previous_page_number }}">Prev.</a>
                {% endif %}
            
                <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            
                {% if page_obj.has_next %}
                <a class="view" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="view" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<!-- Your HTML code -->

    


<script>

    // Read more button
    var readMoreButtons = document.querySelectorAll('.read-more');

    readMoreButtons.forEach(function(button) {
    button.style.display = 'inline';
    button.addEventListener('click', function() {
        var description = this.previousElementSibling;
        description.classList.toggle('expanded');
        this.textContent = description.classList.contains('expanded') ? 'Read Less' : 'Read More';
    });
    });

    // Error Pop up
    document.addEventListener('DOMContentLoaded', function() {
      var closeButton = document.getElementById('close');
      var errorPopup = document.getElementById('error-popup');
  
      closeButton.addEventListener('click', function() {
          errorPopup.style.display = 'none';
      });
      });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sentimentData = JSON.parse('{{ sentiment|safe }}');
        var labels = [];
        var data = [];
        
        for (var key in sentimentData) {
            labels.push(key);
            data.push(sentimentData[key]);
        }
        
        
        var ctx = document.getElementById('pieChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Percentage of Comment Type',
                    fontSize: 18,
                    fontColor: '#000000',
                    fontStyle: 'bold'
                }
            }
        });
    });
</script>


</body>
</html>







{% endblock dashboard %}
