{% extends "html/base.html" %}

{% load static %}

{% load custom_filters %}

{% block header-search %}

    <div class="search-container">
        <form action="{% url 'index' %}" method="post" class="search-bar" autocomplete="off">
            {% csrf_token %}
            <input autocomplete="false" type="text" name="video_link" placeholder="Youtube URL" required>
            <button class="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>

{% endblock header-search %}

{% block dashboard %}


<div class="meta-container">
    <div class="video-frame">
            <img class="profile-picture" src="{{ meta.thumbnail }}" alt="Thumbnail">
            <div class="controls">
                <a href="https://www.youtube.com/watch?v={{ meta.video_id }}" target="_blank">
                    <div class="play-button">
                        <span class="play-icon"></span>
                    </div>
                </a>
                <div class="progress-bar-container">
                    <div class="progress-bar"></div>
                    <div class="video-tip-cell">
                        <i class="fa fa-question-circle"></i>
                        <div class="tip-popup">
                            <table>
                            <caption><strong>Tip</strong></caption>
                            <tr>
                                <td>You can visit the YouTube video directly by pressing the play button on the left.</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="right-div">
        <table id="interactive-table">
            <tr>
                <th> Video Title: </th>
                <td>{{ meta.title }}</td>
            </tr>
            <tr>
                <th> Video ID: </th>
                <td>{{ meta.video_id }}</td>
            </tr>
            <tr>
                <th> Video Category: </th>
                <td>{{ meta.category }}</td>
            </tr>
            <tr>
                <th> Channel Name: </th>
                <td>{{ meta.channelTitle }}</td>
            </tr>
            <tr>
                <th> Publish Date: </th>
                <td>{{ meta.publishedAt }}</td>
            </tr>
            <tr>
                <th> Description: </th>
                <td>
                <div class="description">
                    {% if meta.description == None %}
                        <p>N/A</p>
                    {% else %}
                        {{ meta.description }}
                    {% endif %}
                </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="stat-container">
    <div class="box-container">
        <div class="box box1">
            <div class="text">
                <h2 class="topic-heading">{{ meta.viewCount }}</h2>
                <h2 class="topic">Views</h2>
            </div>
            <img src= "{% static 'img/icons/views.png' %}" alt="views">
        </div>

        <div class="box box2">
            <div class="text">
                {% if comments == None %}
                    <h2 class="topic-heading">Disabled</h2>
                {% else %}
                    <h2 class="topic-heading">{{ meta.commentCount }}</h2>
                {% endif %}
                <h2 class="topic">Number of Comments</h2>
            </div>

            <img src= "{% static 'img/icons/comments.png' %}" alt="comments">
        </div>

        <div class="box box3">
            <div class="text">
                <h2 class="topic-heading">{{ meta.likeCount }}</h2>
                <h2 class="topic">Likes</h2>
            </div>
            
            <img src= "{% static 'img/icons/like.png' %}" alt="likes">
        </div>

        <div class="box box4">
            <div class="text">
                <h2 class="topic-heading">{{  meta.duration }}</h2>
                <h2 class="topic">Duration</h2>
            </div>
            <img src="{% static 'img/icons/clock.png' %}" alt="duration">
        </div>
    </div> 
    <div class="chart-container">
        <div class="report-header">
            <h5 class="recent-Articles">Youtube Video Tags</h5>
        </div>
        {% if tag_cloud == None %}
            <img src="{% static 'img/icons/graph_unavailable.png' %}" alt="graph unavailbale" height="200" >
            <p>Video Tags Unavailbale</p>
        {% else %}
            <canvas id="word_cloud" class="word_cloud" width="300" height="250"></canvas>
    {% endif %}
    </div>

</div>

{% if comments == None %}
    <div class="report-error-container">
        <div >
            <h3 class="comment-section-error">Youtube Comments are disabled by the video owner: <br> {{ meta.channelTitle }} </h3>
        </div>
    </div>

{% else %}
    <div class="report-container">
        <div class="report-header">
            <h1 class="recent-Articles">Youtube Comments</h1>
            <div class="export-menu">
                <div class="export-help-cell">
                    <button class="exportButton" id="exportButton">Export to CSV</button>
                    <div class="help-popup">
                        <table>
                            <caption><strong>Export to CSV</strong></caption>
                            <tr>
                            <td>Export the Youtube Comments table to a CSV file in the sorted order of the table.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="graph-help-cell">
                    <i class="fa fa-question-circle"></i>
                    <div class="help-popup">
                        <table>
                          <caption><strong>Information</strong></caption>
                          <tr>
                            <td>This graph contains the top 200 most famous/relevant comments provided by Youtube.</td>
                          </tr>
                        </table>
                        
                        <table>
                          <caption><strong>Sort By Sentiment</strong></caption>
                          <tr>
                            <td>Sort comments based on their sentiment value (Positive, Neutral & Negative).</td>
                          </tr>
                        </table>
                      
                        <table>
                          <caption><strong>Sort By Attribute</strong></caption>
                          <tr>
                            <td>Sort comments based on one of their numeric attributes (Index(Relevant), Comment Likes, Comment Replies & Comment Lenght).</td>
                          </tr>
                        </table>

                        <table>
                            <caption><strong>Sort By Order</strong></caption>
                            <tr>
                              <td>Sort comments in Ascending/Descending order.</td>
                            </tr>
                          </table>
                    </div>                      
                </div>
            </div>

        </div>

        <div class="table-container">
            <div id="filters">
                <label for="sentiment">Sentiment:</label>
                <select id="sentiment">
                    <option value="all">All</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                    <option value="neutral">Neutral</option>
                </select>
                
                <label for="sortBy">Sort By:</label>
                <select id="sortBy">
                    <option value="index">Index</option>
                    <option value="likes">Likes</option>
                    <option value="replies">Replies</option>
                    <option value="word_length">Length</option>
                </select>

                <label for="sortOrder">Sort Order:</label>
                <select id="sortOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Comment ID</th>
                    <th>Likes</th>
                    <th>Replies</th>
                    <th>Type</th>
                    <th>Comment</th>
                    <th>Length</th>
                  </tr>
                </thead>
                <tbody id="content"></tbody>
              </table>
              <div class="paginator">
                <button class="prev-btn" onclick="gotoPage(currentPage - 1)">Previous</button>
                <div class="page-numbers" id="paginator">
                  <!-- Paginator buttons will be dynamically added here -->
                </div>
                <button class="next-btn" onclick="gotoPage(currentPage + 1)">Next</button>
              </div>
        </div>
    </div>

    <!--Scatter comment Publish date-->
    <div class="scatter-container">
        <div class="report-header">
            <h5 class="recent-Articles">Comment Publications</h5>
            <div class="scatter-menu">
                <div class="dropdown-container">
                    <label for="x-axis-option">Per:</label>
                    <select id="x-axis-option" onchange="updateScatterPlot()">
                        <option value="month">Monthly</option>
                        <option value="semester">Semester</option>
                        <option value="year">Yearly</option>
                    </select>
                </div>
                <div class="graph-help-cell">
                    <i class="fa fa-question-circle"></i>
                    <div class="help-popup">
                        <table>
                          <caption><strong>Months</strong></caption>
                          <tr>
                            <td>The number of comments in each month.</td>
                          </tr>
                        </table>
                      
                        <table>
                          <caption><strong>Semesters</strong></caption>
                          <tr>
                            <td>The number of comments in each semester.</td>
                          </tr>
                          <tr>
                            <td>T1: Jan-Apr</td>
                          </tr>
                          <tr>
                            <td>T2: May-Aug</td>
                          </tr>
                          <tr>
                            <td>T3: Sept-Dec</td>
                          </tr>
                        </table>
                      
                        <table>
                          <caption><strong>Years</strong></caption>
                          <tr>
                            <td>The number of comments in each year.</td>
                          </tr>
                        </table>
                    </div>                      
                </div>
            </div>
        </div>
        <div>
            <canvas id="scatterGraph"></canvas>
        </div>
    </div>
    

    <!--Comments Analysis Graphs-->
    <div class="comment-analysis-container">
        <div class="horizontal-bar-container">
            <div class="buttons-container">
                <button class="section-button" data-name="length" data-color="#87CEEB" onclick="handleGraphButtonClick('length')">Comments Length</button>
                <button class="section-button" data-name="frequency" data-color="#9370DB" onclick="handleGraphButtonClick('frequency')">Most Frequent Words</button>
                <button class="section-button" data-name="sentiment" data-color="#FFA500" onclick="handleGraphButtonClick('sentiment')">Sentiment Distribution</button> 
            </div> 
            <div class="graph-help-cell">
                <i class="fa fa-question-circle"></i>
                <div class="help-popup">
                    <table>
                        <caption><strong>Comment Length</strong></caption>
                        <tr>
                        <td>A histogram with the distribution of comment lengths.</td>
                        </tr>
                    </table>
                    
                    <table>
                        <caption><strong>Top 10 Words</strong></caption>
                        <tr>
                        <td>A bar chart with the 10 most frequent words from the comments.</td>
                        </tr>
                    </table>
                    
                    <table>
                        <caption><strong>Sentiment Percentages</strong></caption>
                        <tr>
                        <td>A pie chart showing the percentage of each sentiment in the comments.</td>
                        </tr>
                    </table>
                </div>                      
            </div>
        </div>
        

        <div class="chart-table-container">
            <div class="chart-container" id="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            
            <div class="table-container" id="tableContainer">
                <table id="dataTable">
                    <!-- Table content will be added dynamically -->
                </table>
            </div>
        </div>
    </div>




{% endif %}

{{ sentiment_percentages|json_script:"sentiment_percentages" }}
{{ section_data|json_script:"section_data" }}
{{ tag_cloud|json_script:"tag_cloud" }}
{{ comments|json_script:"comments" }}

<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

</body>
</html>







{% endblock dashboard %}
