{% extends "html/base.html" %}

{% load static %}


{% block header-search %}
  <div>
    <h1 class="header-title">Welcome to YouDash</h1>
  </div>

{% endblock header-search %}

{% block searchBar%}


<form autocomplete="off" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="searchBox">
      <input autocomplete="false" class="searchInput" type="text" name="video_link" placeholder="https://www.youtube.com/watch?v=wbAhmGFwZ-g" required>
      <button class="searchButton" type="submit">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
  </form> 
  
  <div class="instructions-container">
    <ol>
        <li>Move your cursor over the search bar.</li>
        <li>Enter the URL of your YouTube video.</li>
        <li>Press enter to initiate analysis and view the results!</li>
    </ol>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var closeButton = document.getElementById('close');
      var errorPopup = document.getElementById('error-popup');
  
      closeButton.addEventListener('click', function() {
          errorPopup.style.display = 'none';
      });
      });
</script>


{% endblock searchBar %}
